<!DOCTYPE html>
<html lang="en" ng-app="currencyApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Currency Rate Calculator</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
  <script src="/src/scripts/app.js"></script>

  <link rel="stylesheet" href="styles.css">
</head>

<body ng-controller="CurrencyController">

  <h1>Currency Rate Calculator</h1>

  <label>Currency:</label>
  <input type="text" ng-model="fromCurrency" placeholder="e.g., USD" ng-change="convertCurrency()">

  <label>Amount:</label>
  <input type="number" id="a1" ng-model="amount1" placeholder="Enter amount" ng-change="convertCurrency()">
  </br>
  <label>To</label>
  </br>

  <label>Currency:</label>
  <input type="text" ng-model="toCurrency" placeholder="e.g., EUR" ng-change="convertCurrency()">



  <h2>Converted Amount: {{ convertedAmount1 }}</h2>

</body>

</html>